<h2>Add Employee</h2>

<form action="/add" method="post">
  <input type="text" name="name" id="" placeholder="Name" /> <br /><br />
  <input type="number" name="salary" id="" placeholder="Salary" /> <br /><br />
  <button type="submit">Add</button>
</form>
